.menu{
    display:flex;
    justify-content: space-between;
    background-color:#000000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #ffff;
    padding: 15px;
}
.body{
    margin:0px;
    background-color: #f7f7f7;
}
.header{
    background-color:darkturquoise;
    display: flex;
    justify-content:space-evenly;
    font-size:25px ;
}

.grid{
  
    border: radius 20px  solid; 
    border-color: teal;
    background-color:tomato;
    display:flex;
   
}

.footer{
    display:flex;
    justify-content: flex-end;
}

.origami{
border-radius: 20px;
border-color :#ffff;
padding: 30px;
margin: 25px;
background-color: darksalmon;
width: 310px;
font-family: Arial, Helvetica, sans-serif;
}
.gi{
    border :2px solid #000000;
    border-radius: 50px;
}
a:link{
    color: aqua;
}
a:visited{
    color: brown;
}
.origami:hover{
    transform: scale(1.2);
}
.menu i {
    padding-left: 200px;
}
.social{
    background-color: chartreuse;
    border-radius: 10px;
    
}
.task{
    background: greenyellow;
}